@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "../../node_modules/font-awesome/less/font-awesome.less";
@import "./variables.less";

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: @brand-info;
}

.page-header {
  margin-top: 0px;
  h1 {
    margin-top: 0px;
  }
}

nav.navbar-collapse.in {
  overflow: hidden;
}

.run-detail {
  nav {
    margin-bottom: @padding-large-vertical;
  }
}

.host-result {
  display: block;
}

pre.ansi {
  clear: left;
  min-height: 42px;
  padding: 15px 0;
  color: @gray-lighter;
  font-size: 12px;
  line-height: 18px;
  //font-family: monospace;
  //line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: @gray-dark;
  counter-reset: line-numbering;
  margin-top: 0;
  border: 1px solid @gray-darker;

  > p {
    position: relative;
    padding: 0 15px 0 40px;
    margin: 0;
    min-height: 16px;

    &.stderr {
      color: @brand-warning;
    }

    &.stdout {
      &.play,
      &.gathering,
      &.task {
        font-weight: bold;
      }

      &.host-ok {
        color: @brand-success;
      }
      &.host-changed {
        color: @brand-warning;
      }
      &.host-skipping {
        color: @brand-info;
      }
      &.host-fatal {
        color: @brand-danger;
      }
    }

    &.exit {
      > span {
        color: @brand-danger;
      }

      &[data-code="0"] {
        > span {
          color: @brand-success;
        }
      }
    }

    &:hover {
      background-color: lighten(@gray-dark, 5%);
    }

    > a {
      &:before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 1em;
      }
      display: inline-block;
      text-align: right;
      min-width: 40px;
      margin-left: -33px;
      cursor: pointer;
      text-decoration: none;
      color: @gray-light;
    }
  }
}

.table-hover tbody tr,
span.sortable {
  &:hover {
    cursor: pointer;
  }
}

.table {
  tr.filter {
    th {
      background-color: @well-bg;
      .form-group {
        margin-bottom: 0px;
        font-weight: normal;
      }
    }
  }
}