@import "../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../node_modules/material-ui/src/less/components.less";
@import "./variables.less";

@white: #fff;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  background-color: @white;
  font-family: 'Roboto', sans-serif;
}

.page-main {
  padding: 24px;
}
